In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the weekly data file path
csv_path = "weekly_data.csv"

# Import the csv file as a DataFrame
weekly = pd.read_csv(csv_path, index_col = 0)
weekly.head()

  Ticker       Open      Close  Year  Week  Prediction
0      A  30.650000  29.980000  2010     6         1.0
1      A  30.359999  30.630001  2010     7         1.0
2      A  33.199999  33.580001  2010    10         1.0
3      A  33.780000  34.310001  2010    12         1.0
4      A  35.380001  36.289999  2010    16         0.0

In [3]:
html = weekly.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)

In [4]:
text_file = open("WeeklyData.html", "w")
text_file.write(html)
text_file.close()

In [5]:
# First and ten, do it again.

In [6]:
# Make a reference to the S&P data file path
csv_path = "sandp_data_final.csv"

# Import the csv file as a DataFrame
snp = pd.read_csv(csv_path)
snp

,title,date,stock,Subjectivity,Polarity,Predicted
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A,0.0000,1.0,1.0
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A,0.0000,1.0,1.0
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A,0.0000,1.0,1.0
3,46 Stocks Moving In Fridays Mid-Day Session,2020-05-22 12:45:00-04:00,A,0.0000,1.0,1.0
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A,0.0000,1.0,1.0
...,...,...,...,...,...,...
303230,IPO for Pfizers Zoetis Prices 86.1M Shares at ...,2013-01-31 17:42:00-05:00,ZTS,0.0000,1.0,1.0
303231,"ISI Group Initiates Coverage on Zoetis at Buy,...",2013-01-31 16:12:00-05:00,ZTS,0.0000,1.0,1.0
303232,"Pfizer, Spinoff Zoetis Receive Positive Mad Mo...",2013-01-23 18:18:00-05:00,ZTS,0.7727,0.0,0.0
303233,Will These 2 IPOs Flourish?,2013-01-22 13:19:00-05:00,ZTS,0.0000,1.0,1.0
303234,"UPDATE: Pfizers Zoetis to Offer 86.1M Shares, ...",2013-01-17 17:03:00-05:00,ZTS,0.0000,1.0,1.0

In [7]:
html = snp.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)

In [8]:
text_file = open("SandPData.html", "w")
text_file.write(html)
text_file.close()

In [9]:
snp_AtoC = snp.iloc[:74844,:]
snp_DtoI = snp.iloc[74845:152163,:]
snp_JtoN = snp.iloc[152164:228017,:]
snp_OtoZ = snp.iloc[228018:,:]

In [10]:
html = snp_AtoC.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)
text_file = open("SnP_AtoC.html", "w")
text_file.write(html)
text_file.close()

In [11]:
html = snp_DtoI.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)
text_file = open("SnP_DtoI.html", "w")
text_file.write(html)
text_file.close()

In [12]:
html = snp_JtoN.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)
text_file = open("SnP_JtoN.html", "w")
text_file.write(html)
text_file.close()

In [13]:
html = snp_OtoZ.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)
text_file = open("SnP_OtoZ.html", "w")
text_file.write(html)
text_file.close()