<a href="https://colab.research.google.com/github/zsowen/Project_3/blob/main/Jake/analyst_ratings_SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Sentiment Analysis w Big Data

In [2]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 5.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [3]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
import nltk
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
# load data
from google.colab import files
files.upload()

Saving analyst_ratings_processed.csv to analyst_ratings_processed.csv

In [26]:
#
df_analyst_ratings_processed = pd.read_csv('analyst_ratings_processed.csv')
df_analyst_ratings_processed

         Unnamed: 0  ... stock
0               0.0  ...     A
1               1.0  ...     A
2               2.0  ...     A
3               3.0  ...     A
4               4.0  ...     A
...             ...  ...   ...
1400464   1413844.0  ...    ZX
1400465   1413845.0  ...    ZX
1400466   1413846.0  ...    ZX
1400467   1413847.0  ...    ZX
1400468   1413848.0  ...    ZX

[1400469 rows x 4 columns]

In [30]:
df_analyst_ratings_processed.drop(['date', 'Unnamed: 0'], axis=1)

                                                     title stock
0                  Stocks That Hit 52-Week Highs On Friday     A
1               Stocks That Hit 52-Week Highs On Wednesday     A
2                            71 Biggest Movers From Friday     A
3             46 Stocks Moving In Friday's Mid-Day Session     A
4        B of A Securities Maintains Neutral on Agilent...     A
...                                                    ...   ...
1400464             Top Narrow Based Indexes For August 29    ZX
1400465  Recap: Wednesday's Top Percentage Gainers and ...    ZX
1400466  UPDATE: Oppenheimer Color on China Zenix Auto ...    ZX
1400467  Oppenheimer Initiates China Zenix At Outperfor...    ZX
1400468  China Zenix Auto International Opens For Tradi...    ZX

[1400469 rows x 2 columns]

In [31]:
df_analyst_ratings_processed.head()

   Unnamed: 0                                              title date stock
0         0.0            Stocks That Hit 52-Week Highs On Friday          A
1         1.0         Stocks That Hit 52-Week Highs On Wednesday          A
2         2.0                      71 Biggest Movers From Friday          A
3         3.0       46 Stocks Moving In Friday's Mid-Day Session          A
4         4.0  B of A Securities Maintains Neutral on Agilent...          A

In [32]:
analyst_ratings_processed= df_analyst_ratings_processed.groupby(df_analyst_ratings_processed['stock'])['title'].apply(lambda x: ','.join(x)).reset_index()
# test_df= Prices_with_changes.groupby(Prices_with_changes['Symbol'])['title'].apply(lambda x: ','.join(x)).agg({
#     'Opening_avg': 'mean',
#     'Closing_avg': 'mean'
# }).reset_index()

analyst_ratings_processed

     stock                                              title
0        A  Stocks That Hit 52-Week Highs On Friday,Stocks...
1     AAMC  Altisource Asset Mgmt Q1 EPS $2.350 Up From $0...
2     AAME  Atlantic American Q1 EPS $(0.400) Down From $0...
3      AAN  Shares of retail & apparel companies are tradi...
4     AAOI  96 Biggest Movers From Friday,70 Stocks Moving...
...    ...                                                ...
6187   ZTR  Stocks That Hit 52-Week Lows On Thursday,Stock...
6188   ZTS  Shares of several healthcare companies are tra...
6189    ZU  CBP Taps Nine Firms For E-Commerce Data Pilot,...
6190  ZUMZ  40 Stocks Moving in Friday's Pre-Market Sessio...
6191    ZX  China Zenix Auto International Announces Inten...

[6192 rows x 2 columns]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

big_ol_text_blob = analyst_ratings_processed['title']

big_ol_text_blob = big_ol_text_blob.tolist()
big_ol_text_blob = big_ol_text_blob
#big_ol_text_blob = ''.join(big_ol_text_blob)

#big_ol_text_blob = [big_ol_text_blob]

In [ ]:
big_ol_text_blob

In [35]:
# #Clean the data

clean_headlines = []

for i in range(0, len(big_ol_text_blob)):
  clean_headlines.append(re.sub("b[(')]+", '', big_ol_text_blob[i] ))
  clean_headlines[i] = re.sub('b[(")]+', '', clean_headlines[i] )
  clean_headlines[i] = re.sub("\'", '', clean_headlines[i] )
  clean_headlines[i] = re.sub("‚Ç¨", '', clean_headlines[i] )

In [36]:
# clean_headlines

In [37]:
#Add the clean headlines to the data set
analyst_ratings_processed['title'] = clean_headlines

In [38]:
analyst_ratings_processed.head()

  stock                                              title
0     A  Stocks That Hit 52-Week Highs On Friday,Stocks...
1  AAMC  Altisource Asset Mgmt Q1 EPS $2.350 Up From $0...
2  AAME  Atlantic American Q1 EPS $(0.400) Down From $0...
3   AAN  Shares of retail & apparel companies are tradi...
4  AAOI  96 Biggest Movers From Friday,70 Stocks Moving...

In [39]:
# Create a function to get the subjectivity
def getSubjectivity(text):
  return TextBlob(text).sentiment.subjectivity

In [40]:
# Create a function to get the polarity
def getPolarity(text):
  return  TextBlob(text).sentiment.polarity

In [41]:
# Create two new columns 'Subjectivity' & 'Polarity'
analyst_ratings_processed['Subjectivity'] =analyst_ratings_processed['title'].apply(getSubjectivity)
analyst_ratings_processed['Polarity'] =analyst_ratings_processed['title'].apply(getPolarity)

In [42]:
analyst_ratings_processed.loc[analyst_ratings_processed.Polarity >= 0, 'Polarity'] = 1
analyst_ratings_processed.loc[analyst_ratings_processed.Polarity < 0, 'Polarity'] = 0
analyst_ratings_processed

     stock  ... Polarity
0        A  ...      1.0
1     AAMC  ...      0.0
2     AAME  ...      1.0
3      AAN  ...      1.0
4     AAOI  ...      1.0
...    ...  ...      ...
6187   ZTR  ...      0.0
6188   ZTS  ...      1.0
6189    ZU  ...      1.0
6190  ZUMZ  ...      1.0
6191    ZX  ...      1.0

[6192 rows x 4 columns]

In [43]:
analyst_ratings_processed.loc[analyst_ratings_processed.Polarity == 0]

     stock  ... Polarity
1     AAMC  ...      0.0
14    ABAC  ...      0.0
20    ABCD  ...      0.0
52    ACMP  ...      0.0
57    ACPW  ...      0.0
...    ...  ...      ...
6163  ZAZA  ...      0.0
6164   ZBB  ...      0.0
6175   ZIV  ...      0.0
6182  ZOES  ...      0.0
6187   ZTR  ...      0.0

[627 rows x 4 columns]

In [44]:
analyst_ratings_processed= analyst_ratings_processed.round(4)

In [45]:
# check_df= merged_df.drop(['Symbol'],1)
# check_df= check_df.drop(['title'],1)
# check_df

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')        #add string in later
cv= CountVectorizer(stop_words='english', ngram_range= (1,1), tokenizer= token.tokenize)
text_counts= cv.fit_transform(analyst_ratings_processed['title'])

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(text_counts, analyst_ratings_processed.Polarity, test_size=0.2, random_state = 69)

In [48]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(x_train, y_train)

In [49]:
predictions = model.predict(x_test)
predictions

array([1., 1., 1., ..., 1., 1., 0.])

In [50]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.19      0.20      0.20       143
         1.0       0.89      0.89      0.89      1096

    accuracy                           0.81      1239
   macro avg       0.54      0.54      0.54      1239
weighted avg       0.81      0.81      0.81      1239

In [53]:
# Saving relevant df as csv 
analyst_ratings_processed.to_csv(r'C:\Users\burns\OneDrive\Desktop\Code_Class\Homework\Project_3\Jake\Sentiment_analysis_6000stock.csv', encoding='utf-8', index=False)