<a href="https://colab.research.google.com/github/zsowen/Project_3/blob/main/Jake/Stock_SAproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)

In [6]:
# Import the libraries
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
import nltk
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [7]:
# load data
from google.colab import files
files.upload()

Saving withPricesAndChange.xlsx to withPricesAndChange.xlsx

In [ ]:
# # load data
# from google.colab import files
# files.upload()

In [9]:
# # store the data as a variable
# needsPrices_df= pd.read_excel('needsPrices.xlsx')
# # 
# withPrices_df= pd.read_excel('withPrices.xlsx')

In [10]:
#
Prices_with_changes = pd.read_excel('withPricesAndChange.xlsx')

In [11]:
# peak at data
Prices_with_changes.head(3)

                                               title Symbol  ...  StockChg  WeekNo
0      Agilent to Buy Multiplicom for ‚Ç¨68M in Cash      A  ...  Positive      52
1  Pressure Biosciences CEO On Its Beaten Down St...      A  ...  Positive      50
2  The Market In 5 Minutes: DryShips, Trump And T...      A  ...  Negative      47

[3 rows x 12 columns]

In [12]:
Prices_with_changes.head(10)

                                               title Symbol  ...  StockChg  WeekNo
0      Agilent to Buy Multiplicom for ‚Ç¨68M in Cash      A  ...  Positive      52
1  Pressure Biosciences CEO On Its Beaten Down St...      A  ...  Positive      50
2  The Market In 5 Minutes: DryShips, Trump And T...      A  ...  Negative      47
3  A Peek Into The Markets: U.S. Stock Futures De...      A  ...  Negative      47
4  Keep an Eye on These 8 Stocks for November 16,...      A  ...  Negative      47
5  Agilent Technologies Sees FY17 Rev. $4.35B-$4....      A  ...  Positive      47
6  Agilent Technologies Reports Q4 EPS $0.59 vs. ...      A  ...  Positive      47
7              8 Stocks You Should Be Watching Today      A  ...  Positive      47
8           Earnings Scheduled For November 15, 2016      A  ...  Positive      47
9  Leerink Swann Assumes Agilent Technologies, In...      A  ...  Positive      46

[10 rows x 12 columns]

In [13]:
A_ticker= Prices_with_changes

In [14]:
# A_ticker= Prices_with_changes.loc[Prices_with_changes['Symbol'] == 'A']
# A_ticker

In [15]:
A_ticker= A_ticker.iloc[::-1]

In [16]:
A_ticker= A_ticker.reset_index()
A_ticker

         index  ... WeekNo
0       176898  ...      5
1       176897  ...      5
2       176896  ...      5
3       176895  ...      5
4       176894  ...      5
...        ...  ...    ...
176894       4  ...     47
176895       3  ...     47
176896       2  ...     47
176897       1  ...     50
176898       0  ...     52

[176899 rows x 13 columns]

In [21]:
A_ticker= A_ticker.round(4)
A_ticker.loc[(A_ticker.StockChg == 'Positive'), 'StockChg'] = 1
A_ticker.loc[(A_ticker.StockChg == 'Negative'), 'StockChg'] = 0
A_ticker["StockChg"] = pd.to_numeric(A_ticker["StockChg"])
A_ticker.dtypes

index                int64
title               object
Symbol              object
Security            object
Year                 int64
Month                int64
Day                  int64
Date        datetime64[ns]
Key                 object
Opening            float64
Closing            float64
StockChg             int64
WeekNo               int64
dtype: object

In [23]:
A_ticker['title']= A_ticker['title'].astype(str)
A_ticker.dtypes

index                int64
title               object
Symbol              object
Security            object
Year                 int64
Month                int64
Day                  int64
Date        datetime64[ns]
Key                 object
Opening            float64
Closing            float64
StockChg             int64
WeekNo               int64
dtype: object

In [17]:
# Create a function to get the subjectivity
def getSubjectivity(text):
  return TextBlob(text).sentiment.subjectivity

In [18]:
# Create a function to get the polarity
def getPolarity(text):
  return  TextBlob(text).sentiment.polarity

In [24]:
# Create two new columns 'Subjectivity' & 'Polarity'
A_ticker['Subjectivity'] =A_ticker['title'].apply(getSubjectivity)
A_ticker['Polarity'] =A_ticker['title'].apply(getPolarity)

In [25]:
#Create a function to get the sentiment scores (using Sentiment Intensity Analyzer)
def getSIA(text):
  sia = SentimentIntensityAnalyzer()
  sentiment = sia.polarity_scores(text)
  return sentiment

In [26]:
# The compound score is a metric that calculates the sum of all the lexicon
#  ratings which have been normalized between -1(most extreme negative)
#  and +1 (most extreme positive).

In [27]:
#Get the sentiment scores for each day
compound = []
neg = []
neu = []
pos = []
SIA = 0
for i in range(0, len(A_ticker['title'])):
  SIA = getSIA(A_ticker['title'][i])
  compound.append(SIA['compound'])
  neg.append(SIA['neg'])
  neu.append(SIA['neu'])
  pos.append(SIA['pos'])

In [28]:
#Store the sentiment scores in the data frame
A_ticker['Compound'] =compound
A_ticker['Negative'] =neg
A_ticker['Neutral'] =neu
A_ticker['Positive'] = pos

In [29]:
A_ticker= A_ticker.round(4)
A_ticker.loc[(A_ticker.StockChg == 'Positive'), 'StockChg'] = 1
A_ticker.loc[(A_ticker.StockChg == 'Negative'), 'StockChg'] = 0
A_ticker["StockChg"] = pd.to_numeric(A_ticker["StockChg"])
A_ticker.dtypes

index                    int64
title                   object
Symbol                  object
Security                object
Year                     int64
Month                    int64
Day                      int64
Date            datetime64[ns]
Key                     object
Opening                float64
Closing                float64
StockChg                 int64
WeekNo                   int64
Subjectivity           float64
Polarity               float64
Compound               float64
Negative               float64
Neutral                float64
Positive               float64
dtype: object

In [30]:
A_ticker

         index  ... Positive
0       176898  ...    0.000
1       176897  ...    0.000
2       176896  ...    0.000
3       176895  ...    0.000
4       176894  ...    0.336
...        ...  ...      ...
176894       4  ...    0.000
176895       3  ...    0.000
176896       2  ...    0.000
176897       1  ...    0.083
176898       0  ...    0.000

[176899 rows x 19 columns]

In [31]:
# ZZZ= A_ticker.groupby(['Year', 'WeekNo']).mean()
# ZZZ= ZZZ.drop(columns='index')
# ZZZ

In [32]:
#Create the feature data set
X = A_ticker[['Opening', 'Closing', 'Subjectivity', 'Polarity', 'Compound', 'Negative', 'Neutral', 'Positive']]
X = np.array(X)

In [33]:
#Create the target data set
y = np.array(A_ticker['StockChg'])

In [35]:
#Split the data into 80% training and 20% testing data sets
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [36]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [37]:
#Get the models predictions/classification
predictions = model.predict(x_test)
predictions

array([1, 1, 1, ..., 0, 0, 0])

In [38]:
#Show the models metrics
from sklearn.metrics import classification_report
print( classification_report(y_test, predictions) )

              precision    recall  f1-score   support

           0       0.99      0.78      0.87     17094
           1       0.83      0.99      0.90     18286

    accuracy                           0.89     35380
   macro avg       0.91      0.88      0.89     35380
weighted avg       0.90      0.89      0.89     35380